<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<link href='http://fonts.googleapis.com/css?family=Raleway:200,400,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="/css/style1.css" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
          <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="js/modernizr.custom.86080.js"></script>
	</head>
	<body id="page">
        <ul class="cb-slideshow">
            <li><span>Image 01</span><div style="padding-left:75%; font-size:1.5rem;">Taj Mahal, India </div></li>
            <li><span>Image 02</span><div style="padding-left:75%; font-size:1.5rem;">Eiffel Tower, France</div></li>
            <li><span>Image 03</span><div style="padding-left:75%; font-size:1.5rem;">Cappadocia, Turkey</div></li>
            <li><span>Image 04</span><div style="padding-left:75%; font-size:1.5rem;">Downtown Los Angeles, USA</div></li>
            <li><span>Image 05</span><div style="padding-left:75%; font-size:1.5rem;">Horseshoe Bend, USA</div></li>
            <li><span>Image 06</span><div style="padding-left:75%; font-size:1.5rem;">Stonehenge, England</div></li>
        </ul>
        <div class="container container-table">
            <div class="row vertical-center-row">
                <div class="text-center col-md-4 col-md-offset-4">
            <header>
				<p class="codrops-demos" >
                <h1 style="
	color: #ffffff;"><b>Picture Your Trip!</b></h1>
               
                <h4 style="color:#ffffff;">Powered by Clarifai</h4>
                 <br>
                <a href="/login/facebook" style="font-family:Lucida Grande;display:inline-block;width: 250px;height: 45px;border-radius: 5px;color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2);font-weight: bold;"><span style="line-height:45px;vertical-align:middle;"class="fa fa-facebook fa-2x">&nbsp;&nbsp;</span>Sign in with facebook</a><br><br>
                <a href="/auth/instagram" style=" display:inline-block;width: 250px;height: 45px;border-radius: 5px; color:#fff;background-color:#3f729b;border-color:rgba(0,0,0,0.2);font-weight: bold;"><span style="line-height:45px;vertical-align:middle;" class="fa fa-instagram fa-2x"></span>&nbsp;&nbsp;&nbsp;Sign in with Instagram</a>
                </p>
            <div class="row" style="margin-top:50px;">
            <div class="col-xs-6">
            <img class="img-circle img-responsive" src="/img/snehal.jpg" >
            <h4 style="color:#ffffff">Snehal Desai</h4>
            </div>
            <div class="col-xs-6">
            <img class="img-circle img-responsive" src="/img/rakesh.jpg" >
            <h4 style="color:#ffffff">Rakesh Shenoy</h4>
                </div>
            </div>
            </header>
        </div>
        </div>
        </div>
    </body>
</html>